@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body{
    margin: 0;
    font-family: Montserrat;
    background-color: rgb(194, 194, 194);
}

/* HEADER CV */
.bg{
    background-image: url("../img/fondo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh; /* Asegura que cubra el 100% de la pantalla*/
}

.link-duoc{
    color: white;
    text-decoration: none;
    transition: transform 0.3s ease;
    display: block;
}
.link-duoc:hover{
    transform: scale(1.5);
}

.img-duoc{
    width: 55px;
    margin-right: 10px;
}

.img-header{
    width: 20rem;
    border-radius: 15rem;
}

.github{
    color: grey;
    font-size: 55px;
    transition: transform 0.3s ease;
    display: inline-block;
}

.twitch{
    color: blueviolet;
    font-size: 55px;
    transition: transform 0.3s ease;
    display: inline-block;
}

.youtube{
    color: red;
    font-size: 55px;
    transition: transform 0.3s ease;
    display: inline-block;
}

.linkedin{
    font-size: 55px;
    transition: transform 0.3s ease;
    display: inline-block;
}

.whatsapp{
    color: green;
    font-size: 55px;
    transition: transform 0.3s ease;
    display: inline-block;
}

.github:hover, .twitch:hover, .linkedin:hover, .whatsapp:hover {
    transform: scale(1.6); 
}

/* SOBRE MI */

@media (max-width: 767.98px) {
    .border-bottom-sm {
        border-bottom: 1px solid #000;
        margin-bottom: 30px;
    }
}

strong{
 text-decoration: underline #ff00ff;
 text-decoration-thickness: 3px;
 text-underline-offset: 15px;
}

span{
    color: #ff00ff;
    background-color: #ff00ff;
    font-size: 15px;
    display: inline-block;;
}


/* TECH STACK*/

.img-tech{
    width: 80px;
    opacity: 0; /* Inicialmente ocultar las imágenes */
    transition: opacity 3.0s ease-in-out; /* Transición suave */
}

.loaded{
    opacity: 1;
}

